---
layout: default
---

<!-- Element to contain animated typing -->
<span id="element"></span>
<!-- Load library from the CDN -->
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<!-- Setup and start animation! -->
<script>
    var typed = new Typed('#element', {
        strings: ['<i>First</i> sentence.', '&amp; a second sentence.'],
        typeSpeed: 50,
    });
</script>

<div class="archive">
  {% for post in site.posts offset:1 %} 
    {% assign currDate = post.date | date: "%Y" %} 
      {% if currDate != date %}
        <h1 class="archive-year">{{ currDate }}</h1>
      {% assign date = currDate %} {% endif %}
  <a href="{{ post.url | relative_url }}" class="archive-title fs-4">
    <div class="archive-item">
      <span class="archive-date fs-4">
        {{ post.date | date: "%-m.%d" }}
      </span>
      {% if post.tags contains "featured" %}⭐{% endif %} {{ post.title }}
    </div>
    <div class="archive-subtitle truncate-lines-fadeout">{{ post.subtitle }}</div>
  </a>
  {% endfor %}
</div>
