---
layout: default
---

<!-- Load library from the CDN -->
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<!-- Load taglines from assets -->
<script src="{{site.baseurl}}/assets/js/taglines.js"></script>
<!-- Element to contain animated typing -->
<!-- <span id="element"><script>document.write(r)</script></span> -->
<!-- call animation from taglines.js -->
<!-- <script>typed</script> -->
<div id="typed-strings">
    <script>document.write(r)</script>
</div>
<span id="typed"></span>

<div class="archive">
  {% for post in site.posts offset:1 %} 
    {% assign currDate = post.date | date: "%Y" %} 
      {% if currDate != date %}
        <h1 class="archive-year">{{ currDate }}</h1>
      {% assign date = currDate %} {% endif %}
  <a href="{{ post.url | relative_url }}" class="archive-title fs-4">
    <div class="archive-item">
      <span class="archive-date fs-4">
        {{ post.date | date: "%-m.%d" }}
      </span>
      {% if post.tags contains "featured" %}⭐{% endif %} {{ post.title }}
    </div>
    <div class="archive-subtitle truncate-lines-fadeout">{{ post.subtitle }}</div>
  </a>
  {% endfor %}
</div>
