---
layout: default
---
<div class="alert alert-warning" role="alert">heyy:) this site is functional, but i'm still working on getting everything just right before it's officially ready! 💖</div>
<script src="{{site.baseurl}}/assets/js/taglines.js"></script>

<div class="taglines fadeIn"><script>document.write(r)</script></div>

<div class="hero">
{% for post in site.posts limit:1 %}
  <a href="{{ post.url | relative_url }}" class="archive-title fs-4">
    {{ post.heroImage }}
  </a>
  <a href="{{ post.url | relative_url }}" class="archive-title fs-4">
    <div class="hero-title">{{ post.title }}</div>
    <div class="hero-subtitle">{{ post.subtitle }}</div>
  </a>
{% endfor %}
</div>

<div class="archive">
  {% for post in site.posts offset:1 %} 
    {% assign currDate = post.date | date: "%Y" %} 
      {% if currDate != date %}
        <h1 class="archive-year">{{ currDate }}</h1>
      {% assign date = currDate %} {% endif %}
  <a href="{{ post.url | relative_url }}" class="archive-title fs-4">
    <div class="archive-item">
      <span class="archive-date fs-4">
        {{ post.date | date: "%-m.%d" }}
      </span>
      {% if post.tags contains "featured" %}⭐{% endif %} {{ post.title }}
    </div>
    <div class="archive-subtitle truncate-lines-fadeout">{{ post.subtitle }}</div>
  </a>
  {% endfor %}
</div>
