.post table { /* default as without class */
  @extend .table;
  @extend .table-striped;
}

html { /* navbar scrolling compensation */
    scroll-padding-top: 5em;
}

blockquote {
  @extend .blockquote;
  border-left: 5px solid #ffbcd9;
  font-style: italic;
  text-align: left;
  margin: 1.5em 10px;
  margin-left: 1.5em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

body {
    background-color: #ffecec;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffbcd9' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    color: #5d3737;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jua", sans-serif;
  text-align: left;
}

h3.text-muted {
  font-family: "Playpen Sans", serif;
  font-size: 1em;
}

a {
    color: #5d3737;
}

a:hover {
    color: #ffbcd9;
}

::selection {
  background: #ffbcd9;
  color: #5d3737;
  text-shadow: none;
}

.fadeIn {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { 
    opacity: 0; 
    transform: translate3d(-50px, 0, 0);
    }
  100% { 
    opacity: 1; 
    transform: translate3d(0, 0, 0);
    }
}

.taglines {
    font-family: "Zain", sans-serif;
    font-weight: bold;
    font-size: 2em;
    overflow-wrap: break-word;
    line-height: 95%;
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: 25px;
    text-shadow: 1px 1px 5px #ffffff;
}

.taglinesSource {
    font-family: "Georgia", serif;
    @extend .text-muted;
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
}

.alert {
  font-size: 0.75em;
}

.post { /* background patterns from https://heropatterns.com/ */
    font-family: "Georgia", serif;
    font-size: 1.2em;
    text-align: justify;
    text-justify: auto;
    hyphens: auto;
    margin: auto;
    max-width: 800px;
    padding: 3%;
    border: 2px solid #e2e2e2;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    background-color: #f5f5f5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffbcd9' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.post img {
  @extend .img-fluid;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  max-height: 550px;
  border-radius: 5px;
}

.post .fullwidth img {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-height: 100%;
  max-width: 100vw;
  width: 100vw;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.post iframe {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  max-height: 550px;
}

.post-date {
	@extend .text-muted;
}

.post-meta {
  @extend .text-muted;
  font-size: 1rem;
}

.sidebar {
  max-width: 90%;
  padding: 1em 25px;
  text-align: justify;
  border: 2px solid #ffbcd9;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.substack-post-embed {
  display: block;
  margin: auto;
}

 .wordbreak {
	overflow-wrap: break-word;
	text-align: left;
}

.poetry {
	text-align: left;
}

.break {
  max-width: 100%
}

.caption {
  position: relative;
  top: -20px;
  @extend .text-muted;
  text-align: center;
  font-size: 70%;
  margin: auto;
  max-width: 75%;
}

.caption a {
  color: #6c757d;
}

.caption a:hover {
  color: #ffbcd9;
}

.titlefont {
  font-family: "Jua", sans-serif;
}

.content {
	 margin-top: 100px;
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0px;
  background-color: #ffecec;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  font-family: "Jua", sans-serif;
  font-size: 1.3rem;
  text-align: bottom;
  margin-bottom: 2rem;
  /* border-bottom: 0.125rem solid hsl(0, 0%, 30%); */
}

.navbar a:hover {
  filter: drop-shadow(0px 0px 5px #ffbcd9);
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 750px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.hero-title {
  font-family: "Jua", sans-serif;
  font-size: 1em;
}

.hero-subtitle {
  @extend .text-muted;
  font-family: "Playpen Sans", sans-serif;
  font-size: 0.75em;
}

.hero img {
  /* height: 100%;
  width: 100%; */
  max-height: 350px;
  max-width: 750px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  border-radius: 5px;
}

.hero img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffbcd9;
}

.archive {
    margin-top: 25px;
    padding: 1% 3% 1% 3%;
    border: 2px solid #e2e2e2;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    background-color: #f5f5f5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffbcd9' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.archive-year {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Courier New", "Georgia", serif;
  font-weight: bold;
}

.archive-date {
  float: right;
  margin-left: 1rem;
  font-family: "Courier New", "Georgia", serif;
}

.archive-item {
  margin-bottom: 0.5rem;
}

.archive-subtitle {
  position: relative;
  top: -0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Playpen Sans", "Georgia", serif;
  @extend .text-muted;
  font-size: 1rem;
  max-width: 75%;
}

.footer-container {
  font-family: "Playpen Sans", "Georgia", serif;
  text-align: center;
}

.footer-icons {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.footer-icon-links {
  text-decoration: none;
  color: #212529;
}

.footer-icon-links:hover, /* .footer-icon-links:focus */ {
  text-decoration: none;
  color: #ffbcd9;
}

.archive-title {
  color: #5d3737;
  font-family: "Jua", sans-serif;
  text-decoration: none;
  font-weight: normal;
}

.highlight {
  background-color: #272822;
}

pre.highlight {
  padding: 1rem;
}

.dark-avatar {
  display: none !important;
}

.light-avatar,
.dark-avatar {
  margin-right: 0.25rem !important;
}


.truncate-lines-fadeout { /* credit to https://www.roboleary.net/snippets/truncated-text-multiple-lines-fadeout/ */
  --num-of-lines: 1;

  overflow: hidden;
  max-height: calc(var(--num-of-lines) * 1lh);

  /* fade out */
  --fadeout-height: 1lh;
  --fadeout-width: 25%;

  mask-image: linear-gradient(black, black),
    linear-gradient(
      to right,
      hsl(0, 0%, 0%) 0 calc(100% - var(--fadeout-width)),
      hsla(0, 0%, 0%, 0)
    );
  mask-size: 100% calc(100% - var(--fadeout-height)), 100% var(--fadeout-height);
  mask-position: top, bottom;
  mask-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffbcd9' fill-opacity='0.25' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
        color: #e1e1e1;
    }
    
    a {
        color: #e1e1e1;
    }
    
  .caption a {
    color: #9e9e9e;
  }
  
  .navbar {
    background-color: #1e1e1e;
  }
  
  .sidebar {
  background: #292929;
  }
  
  .footer-icon-links {
    text-decoration: none;
    color: #e1e1e1;
  }

  /* .footer-icon-links:hover,
  .footer-icon-links:focus {
    text-decoration: none;
    color: #e1e1e1;
  } */
  
  .taglines {
      text-shadow: 1px 1px 5px #000000;
  }
  
  .post {
	background-color: #1e1e1e;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23333333' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border: 2px solid #3c3c3c;
  }
  
  .archive {
    background-color: #1e1e1e;
    background-image: none;
    border: 2px solid #3c3c3c;
  }

  .archive-title {
    color: #e1e1e1;
  }

  .light-avatar {
    display: none !important;
  }
  .dark-avatar {
    display: inline-block !important;
  }
}
