---
layout: default
---

<h1>{{ page.tag }}</h1>
<div class="archive">
  <div class="archive-item archive-title fs-4"><a href="{{site.baseurl}}/trans-resources" style="text-decoration: none">📌 [WIP] Trans resources and media</a></div><br>
  {% for post in site.tags[page.tag] %} {% assign currDate = post.date | date: "%Y" %}
  <div class="archive-item">
    <span class="post-date archive-date fs-4"
      >{{ post.date | date: "%y.%m.%d" }}</span
    >
    <a href="{{ post.url | relative_url }}" class="archive-title fs-4"
      >{% if post.tags contains "featured" %}⭐{% endif %} {{ post.title }}</a
    >
  </div>
  <div class="archive-subtitle truncate-lines-fadeout">{{ post.subtitle }}</div>
  {% endfor %}
</div>